span {
    font-style:italic;
    color: blue;
    padding: 15px;
}
body{
    background-color: beige;
    font-size: 24px;
}
.conteiner {
    text-align: center;
}
h1{color: blueviolet;
}
h2{color: brown;}